extends layout

block resources
  link(rel='stylesheet', href='/stylesheets/game.css')

block content
  canvas(id='game')
  script(src='/scripts/warpdrive.js')
  script(src='/scripts/asteroids-warzone.js')