extends layout

block resources
  link(rel='stylesheet', href='/public/stylesheets/game.css')

block content
  canvas(id='game')

  // bower:js
  script(src='../public/bower_components/warpdriveJS/bin/warpdrive.js')
  script(src='../public/scripts/asteroids-warzone.js')
  // endbower

  // bower:css
  // endbower